detect_chromedriver_version=true
playwright_skip_browser_download=1
puppeteer_skip_chromimum_download=true
# playwright_browsers_path=0
# puppeteer_executable_path=C:/Program Files (x86)/Google/Chrome/Application/chrome.exe

